{% extends "base/base.html" %}
{% load static %}


{% block start %}
<section class="section-content padding-y">
  <div class="container">
    <div class="row">
      <main class="col-md-9">
      {% if cart_items %}
        <div class="card">
        
          {% include "components/orders/cart_items_table.html" %}

          <div class="card-body border-top">
            <a href="#" class="btn btn-primary float-md-right">
              Make Purchase <i class="fa fa-chevron-right"></i>
            </a>
            <a href="/home" class="btn btn-light">
              <i class="fa fa-chevron-left"></i> Continue shopping
            </a>
          </div>
        </div>
        {% else %}
        <h2>Your Cart is Empty</h2>
        <a href="/home" class="btn btn-light">
              <i class="fa fa-chevron-left"></i> Continue shopping
            </a>

        {% endif %}
        <!-- card.// -->

        <div class="alert alert-success mt-3">
          <p class="icontext">
            <i class="icon text-success fa fa-truck"></i> Free Delivery within
            1-2 weeks
          </p>
        </div>
      </main>
      <!-- col.// -->
      <aside class="col-md-3">
        <div class="card mb-3">
          <div class="card-body">
            <form>
              <div class="form-group">
                <label>Have coupon?</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    name=""
                    placeholder="Coupon code"
                  />
                  <span class="input-group-append">
                    <button class="btn btn-primary">Apply</button>
                  </span>
                </div>
              </div>
            </form>
          </div>
          <!-- card-body.// -->
        </div>



        <!-- card below coupons.// -->
        <div class="card">
          <div class="card-body">
            <dl class="dlist-align">
              <dt>Total price:</dt>
              <dd class="text-right">INR {{ total_price }}</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Discount:</dt>
              <dd class="text-right">INR {{ total_price }}</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Total:</dt>
              <dd class="text-right h5"><strong>INR {{ total_price }}</strong></dd>
            </dl>
            <hr />
            <p class="text-center mb-3">
              <img src="{% static 'images/misc/payments.png' %}" height="26" />
            </p>
          </div>
          <!-- card-body.// -->
        </div>
        <!-- card .// -->
      </aside>
      <!-- col.// -->
    </div>
  </div>
  <!-- container .//  -->
</section>


{% endblock start %}